@model Komunumo.Blog.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Popularity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Popularity)
        </dd>
        
        <a class="btn btn-dark" role="button" asp-action="Add_Like" asp-route-id="@Model.Article_ID">Like</a>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Article_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
