@model ApplicationUser

@{
    ViewData["Title"] = "修改使用者";
}

<div class="container">
    <div class="columns">
        <div class="column">
            <p class="title">@ViewData["Title"]</p>
        </div>
        <div class="column">
            <button class="button is-danger is-pulled-right">刪除</button>
        </div>
    </div>
    <div class="level">
        <div class="column box">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-controller="" asp-action="" method="post">
                <div class="field">
                    <label class="label" asp-for="@Model.UserName"></label>
                    <div class="control">
                        <input asp-for="@Model.UserName" class="input" placeholder="@Model.UserName"/>
                    </div>
                    <span asp-validation-for="@Model.UserName" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="@Model.Email"></label>
                    <div class="control">
                        <input asp-for="@Model.Email" class="input" placeholder="@Model.Email"/>
                    </div>
                    <span asp-validation-for="@Model.Email" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="checkbox" asp-for="@Model.EmailConfirmed"></label>
                    <div class="control">
                        <input asp-for="@Model.EmailConfirmed"/>
                    </div>
                    <span asp-validation-for="@Model.EmailConfirmed" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="@Model.PhoneNumber"></label>
                    <div class="control">
                        <input asp-for="@Model.PhoneNumber" class="input" placeholder="@Model.PhoneNumber"/>
                    </div>
                    <span asp-validation-for="@Model.PhoneNumber" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="checkbox" asp-for="@Model.PhoneNumberConfirmed"></label>
                    <div class="control">
                        <input asp-for="@Model.PhoneNumberConfirmed"/>
                    </div>
                    <span asp-validation-for="@Model.PhoneNumberConfirmed" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="checkbox" asp-for="@Model.LockoutEnabled"></label>
                    <div class="control">
                        <input asp-for="@Model.LockoutEnabled"/>
                    </div>
                    <span asp-validation-for="@Model.LockoutEnabled" class="help is-danger"></span>
                </div>
                <div class="field">
                    <label class="label" asp-for="@Model.LockoutEnd"></label>
                    <div class="control">
                        <input asp-for="@Model.LockoutEnd" class="input"/>
                    </div>
                    <span asp-validation-for="@Model.LockoutEnd" class="help is-danger"></span>
                </div>
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-primary">儲存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
