@model Komunumo.Admin.Models.Common.PaginatedList<Komunumo.Admin.Models.ManageViewModels.UserViewModel> 

@{
    ViewData["Title"] = "管理使用者";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container">
    <nav class="panel">
        <div class="panel-heading is-clearfix">
            <span class="title is-4">@ViewData["Title"]</span>
            <button class="is-pulled-right button is-primary">新增</button>
        </div>
        <div class="panel-block">
            <div class="column is-full">
                <div class="field has-addons">
                    <div class="control is-expanded has-icons-left">
                        <input class="input" type="text" placeholder="搜尋使用者">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="control">
                        <a class="button is-info">搜尋</a>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var user in Model)
        {
            @Html.DisplayFor(modelItem => user, "UserList")
        }
        <div class="panel-block">
            <div class="column is-full">
                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <a class="pagination-previous"
                           asp-controller="Manage" asp-action="Users"
                           asp-route-currentPageNumber="@(Model.PageIndex - 1)">
                            上一頁
                        </a>
                    }
                    else
                    {
                        <a class="pagination-previous" disabled>上一頁</a>
                    }
                    @if (Model.HasNextPage)
                    {
                        <a class="pagination-next"
                           asp-controller="Manage" asp-action="Users"
                           asp-route-currentPageNumber="@(Model.PageIndex + 1)">
                            下一頁
                        </a>
                    }
                    else
                    {
                        <a class="pagination-next" disabled>下一頁</a>
                    }

                    <ul class="pagination-list">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (Model.PageIndex == i)
                            {
                                <li>
                                    <a class="pagination-link is-current" aria-label="Page @i" aria-current="page"
                                       asp-controller="Manage" asp-action="Users"
                                       asp-route-currentPageNumber="@i">@i</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="pagination-link" aria-label="Goto page @i"
                                       asp-controller="Manage" asp-action="Users"
                                       asp-route-currentPageNumber="@i">@i</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</div>
